misc/Grenedalf_PopGen/results/Grenedalf_poolsnp_10000.summary.gz
misc/Grenedalf_PopGen/results/Grenedalf_poolsnp_50000.summary.gz
misc/Grenedalf_PopGen/results/Grenedalf_poolsnp_100000.summary.gz
misc/Grenedalf_PopGen/results/Grenedalf_poolsnp_chrom.summary.gz
misc/Grenedalf_PopGen/results/poolsnp_10000diversity.csv.gz
misc/Grenedalf_PopGen/results/poolsnp_50000diversity.csv.gz
misc/Grenedalf_PopGen/results/poolsnp_100000diversity.csv.gz
misc/Grenedalf_PopGen/results/poolsnp_chromdiversity.csv.gz
